.body{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.workout{
    background-color: rgb(228, 227, 227);
    padding: 10px;
}
.profile{
    background-color: aqua;
}

.cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}